{{ define "about" }}
{{ template "header" }}

<div class="about-page">
    <div class="about-section">
        <h1>About Us</h1>
        <p>SDU store is located in Suleyman Demirel University campus. This is a store for students and not only.
            Everyone can buy modern clothes from Qazaq Rebuplic & SDU collaboration on our website and on Instagram.</p>
    </div>

    <br>

    <h2 style="text-align:center; font-size: 35px">Our Team</h2>
    <br>
    <div class="about-row">
        <div class="about-column">
            <div class="about-card">
                <div class="about-container">
                    <h2>Yerzhanov Beksultan</h2>
                    <p class="about-title">Developer</p>
                    <p>3rd-year student of SDU</p>
                    <p>E-mail: 200103513@stu.sdu.edu.kz</p>
                </div>
            </div>
        </div>

        <div class="about-column">
            <div class="about-card">
                <div class="about-container">
                    <h2>Tashim Darkhan</h2>
                    <p class="about-title">Developer</p>
                    <p>3rd-year student of SDU</p>
                    <p>E-mail: 200103208@stu.sdu.edu.kz</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{ template "footer" }}
{{ end }}