{{ define "cart" }}
{{ template "header" }}

<div class="cart-main" style="margin-bottom: 100px;">
    <h1 class="title-cart" style="padding-top: 150px; font-size: 50px">Cart</h1>
    {{ if not . }}
    <div class="empty-cart">
        <h1 style="padding-top: 150px; font-size: 40px">Your cart is empty :(</h1>
        <a href="catalog" style="color: black"><h1 style="padding-top: 20px; font-size: 25px">You can go to the catalog
            page</h1></a>
    </div>
    {{ else }}

    {{range .}}
    <br>
    <br>
    <br>
    <li style="list-style: none">
        <div class="card-cart">
            <img src="{{.ItemImage}}" alt="SDU_Store_product" style="width: 15%">
            <h1 class="item-name">{{.ItemName}}</h1>
            <p class="price">Cost: {{.ItemPrice}}₸</p>
            <div class="quantity">
                <button class="decrement dec" data-productid="">-</button>
                <input class="inp" type="number" value="" min="1">
                <button class="increment inc" data-productid="">+</button>
            </div>
        </div>
    </li>
    {{ end }}
    {{ end }}
</div>


{{ template "footer" }}
{{ end }}