{{ define "contact" }}
{{ template "header" }}

<div class="contact-page">
    <div class="about-section">
        <br>
        <h2 style="text-align:center; font-size: 45px">Credentials</h2>
        <br>
        <div class="contact-row">
            <div class="contact-column">
                <div class="contact-card">
                    <div class="contact-container">
                        <p class="contact-title">Address:</p>
                        <p>SDU campus</p>
                        <p class="contact-title">Instagram:</p>
                        <p>@sdu.store</p>
                        <p class="contact-title">E-mail:</p>
                        <p>sdu.store@sdu.edu.kz</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ template "footer" }}
{{ end }}