{{ define "contact" }}
{{ template "header" }}

<div class="contact-page">

    <br>
    <h2 style="text-align:center; font-size: 45px">Credentials</h2>
    <br>
    <div class="contact-row">
        <div class="contact-column">
            <div class="contact-card">
                <div class="contact-container" style="font-size: 1.2em">
                    <p class="contact-title">Address:</p>
                    <p>Almaty, Karasay region, Kaskelen city, Abylaikhan street, 1/1</p>
                    <p class="contact-title">Instagram:</p>
                    <a href="https://www.instagram.com/sdu.store/" style="text-decoration: none; color: black">@sdu.store</a>
                    <p class="contact-title">E-mail:</p>
                    <a href="mailto:sdu.store@sdu.edu.kz" style="text-decoration: none; color: black">sdu.store@sdu.edu.kz</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="contact-row">
        <div class="contact-column">
            <div class="contact-card">
                <div class="contact-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d624.1905872159407!2d76.66942249105895!3d43.20820651252142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38834f7675d8a6c3%3A0x7b7d14aec270c056!2z0KPQvdC40LLQtdGA0YHQuNGC0LXRgiDQodGD0LvQtdC50LzQsNC9INCU0LXQvNC40YDQtdC70Y8!5e0!3m2!1sru!2skz!4v1684422590237!5m2!1sru!2skz"
                            width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>

</div>
{{ template "footer" }}
{{ end }}