{{ define "product" }}
{{ template "header" }}

<div class="main">
    <div class="product-details">
        <div class="product-image">
            <img src="{{.ItemImage}}" alt="SDU_Store_product">
        </div>
        <div class="product-info">
            <h1 class="product-title">{{.ItemName}}</h1>
            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac arcu sed
                urna aliquam commodo. Suspendisse porta neque a dolor finibus, eget blandit metus pulvinar. Nullam vel
                orci sit amet massa ullamcorper pretium non non odio.</p>
            <p class="product-price">Cost: {{.ItemPrice}}₸</p>
            <div class="rating" style="display: flex">
                <div class="star-wrapper">
                    <a href="#" class="fas fa-star s1" onclick="popup()"></a>
                    <a href="#" class="fas fa-star s2" onclick="popup()"></a>
                    <a href="#" class="fas fa-star s3" onclick="popup()"></a>
                    <a href="#" class="fas fa-star s4" onclick="popup()"></a>
                    <a href="#" class="fas fa-star s5" onclick="popup()"></a>
                </div>
                <div class="popup" onclick="popup()">
                    <span class="popuptext" id="myPopup">Thank You for the rating!</span>
                </div>
                <p style="font-size: 20px; padding-top: 0.3em; padding-left: 15px">(3.5)</p>
            </div>
            <textarea class="text-area"></textarea>
            <button class="product-button">Add Comment</button>
        </div>
    </div>
    <div>
        <textarea class="text-area"></textarea>
    </div>
    <br>
    <br>
    <div>
        <textarea class="text-area"></textarea>
    </div>
    <br>
    <br>
    <div>
        <textarea class="text-area"></textarea>
    </div>
</div>

<script>
    function popup() {
        var popup = document.getElementById("myPopup");
        popup.classList.toggle("show");
    }
</script>

{{ template "footer" }}
{{ end }}